{% extends "base.html" %}

{% block content %}

    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                    id = "image"
                    src="{{ url_for('static', filename='imagenet_subset/'+image_id) }} "
                    alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card outer-div">
                <canvas id="histogramOutput" class="histogram"></canvas>
            </div>
        </div>
    </div>
    <br>
    <div class="row btn-back-div">
        <a class="btn btn-primary" href="/histogram" role="button">Back</a>
    </div>
    
    </div>
    <script src="{{ url_for("static", filename="histogram.js") }}"></script>
    

{% endblock %}

